html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-explicit {
  display: grid;

  /* Grid de 3cx3f */
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 2rem 20vh 30%;

  /* Grid de 5cx4f */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, auto);

  /* Con fr unidad sobrante */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  /* Grid de 4cx5f */
  grid-template-columns: 20% repeat(2, 30%) 20%;
  grid-template-rows: repeat(5, auto);

  /* espaciado entre columnas y filas */
  row-gap: 1rem;
  column-gap: 1rem;

  /* shortcut de row-gap y column-gap */
  gap: 1rem 1rem;
  gap: 0;
}

/* Para cambiar de direccion una celda */
.grid-explicit .item:nth-child(10) {
  color: cyan;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  /* Atajos de lo de arriba*/
  /* grid-row-start / grid-row-end */
  /* grid-column-start / grid-column-end */
  grid-row: 2 / 3;
  grid-column: 3 / 4;

  /* Para que una celda ocupe 2 celdas */
  grid-row: 2 / 3;
  grid-column: 3 / 5;

  /* Atajo de lo de arriba: grid-row / grid-column */
  /* grid-row-start / grid-row-end */
  /* grid-column-start / grid-column-end */
  grid-area: 2 / 3 / 3 / 5;
}

/* Para abarcar varias celdas */
.grid-explicit .item:nth-child(12) {
  color: cyan;
  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-child(15) {
  color: cyan;
  grid-row: 1 /span 2;
  grid-column: 1 / span 2;
}