html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.sub-item {
  padding: 1rem;
  background-color: #ddd;
  border: medium solid #cccccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.subgrid {
  /*
    - Para que la caracteristica de subgrid funcione es necesario hacer lo siguiente:

    1.- Definir explicitamente el tamaño que ocupara el elemento subgrid dentro del contenedor padre grid, es decir, definir sus propiedades grid-colum y grid-row

    2.- Aplicar display grid al elemento que aplicara subgrid

    3.- Aplicar el valor de subgrid a las columnas a las filas o ambas depende de como se requiera
  */
  grid-column: span 3;
  grid-row: 1 / 3;

  display: grid;

  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}