html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header  header  header    header    header   header"
    "nav     nav     nav       nav       nav      nav"
    "uc-left uc-left uc-center uc-center uc-right uc-right"
    "middle  middle  middle    lower     lower    lower"
    "footer  footer  footer    footer    footer   footer"
  ;
}

body > * {
  background-color: #666;
  border: medium solid #222;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

h2 {
  text-align: center;
}

/* Version Mobile */
.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.uc-left {
  grid-area: uc-left;
}

.uc-center {
  grid-area: uc-center;
}

.uc-right {
  grid-area: uc-right;
}

.middle {
  grid-area: middle;
}

.lower {
  grid-area: lower;
}

.footer {
  grid-area: footer;
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "header header  header    header    header"
      "nav    uc-left uc-center uc-center uc-right"
      "nav    middle  middle    middle    middle"
      "nav    lower   lower     lower     lower"
      "footer footer  footer    footer    footer"
    ;
  }

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .uc-left {
    grid-area: uc-left;
  }

  .uc-center {
    grid-area: uc-center;
  }

  .uc-right {
    grid-area: uc-right;
  }

  .middle {
    grid-area: middle;
  }

  .lower {
    grid-area: lower;
  }

  .footer {
    grid-area: footer;
  }
}