html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-line-names {
  display: grid;

  /* Grid de 3cx3f */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows: [linea-f1] 1fr [linea-f2] 1fr [linea-f3] 1fr [linea-f4];
  grid-template-rows: [linea-f1] auto [linea-f2] auto [linea-f3] auto [linea-f4];
}

.grid-line-names .item:nth-child(3) {
  color: cyan;
  grid-row: linea-f3 / linea-c4;
  grid-column: linea-c1 / linea-c4;
}