html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-flow-dense {
  display: grid;

  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(4, 130px); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  /* Rellena en automatico con dense los espacios vacios */
  /* Alinea en fila */
  grid-auto-flow: row dense;
  /* Alinea en columna */
  grid-auto-flow: column dense;
}

/* .grid-flow-dense .item:nth-child(9) {
  color: cyan;
  grid-row: span 3;
  grid-column: span 3;
} */

/* .grid-flow-dense .item:nth-child(11) {
  color: cyan;
  grid-row: span 3;
  grid-column: span 3;
} */