html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-dynamics {
  display: grid;

  /* Grid de 4cx?f */
  grid-template-columns: repeat(4, 100px);

  /* auto-fill rellena la grid con tracks generados dinamicamente */
  grid-template-columns: repeat(auto-fill, 100px);

  /* auto-fit ajusta la grid con los tracks generados dinamicamente */
  grid-template-columns: repeat(auto-fit, 100px);

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}