html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-min-max {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* minmax(tamaño minimo, tamaño maximo) */
  grid-template-columns: repeat(4, minmax(100px, 200px));

  /* Se ajustara al minimo del contenido */
  grid-template-columns: repeat(4, minmax(min-content, 200px));
  grid-template-columns: repeat(4, minmax(100px, min-content));

  /* Se ajustara al maximo del contenido */
  grid-template-columns: repeat(4, minmax(100px, max-content));
  grid-template-columns: repeat(4, minmax(max-content, 200px));

  grid-template-columns: repeat(4, minmax(min-content, max-content));
}