html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
}

body > * {
  background-color: #666;
  border: medium solid #222;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

h2 {
  text-align: center;
}

/* Version Mobile */
.header {
  grid-column: span 6;
  grid-row: span 1;
}

.nav {
  grid-column: span 6;
  grid-row: 2 / 3;
}

.uc-left {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  /* grid-column: span 2;
  grid-row: span 1; */
}

.uc-center {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  /* grid-column: span 2;
  grid-row: span 1; */
}

.uc-right {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
  /* grid-column: span 2;
  grid-row: span 1; */
}

.middle {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  /* grid-column: span 3;
  grid-row: span 1; */
}

.lower {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
  /* grid-column: span 3;
  grid-row: span 1; */
}

.footer {
  grid-column: span 6;
  grid-row: span 1;
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .header {
    grid-column: span 5;
    grid-row: span 1;
  }

  .nav {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .uc-left {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .uc-center {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .uc-right {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }

  .middle {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
  }

  .lower {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
  }

  .footer {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }
}