html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-flow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 120px);

  /* Define el flujo de la grid, es como usar el flex-direction en flexbox; */
  grid-auto-flow: row;

  /* Toma todo el espacio de las filas que estan en la grid explicita */
  grid-auto-rows: 100px;
  grid-auto-flow: column;
  grid-auto-columns: 100px;
}