html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1 {
  margin-top: 2vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-implicit {
  display: grid;

  /* Cuando queremos que dos contenedor entre en una sola linea, se usa inline-grid */
  display: inline-grid;

  width: 40%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 120px);
}